<div layout="column" flex>
    <md-tabs ng-show="vm.loaded" layout="column" flex layout-fill>
        <md-tab label="Movie" layout="column" flex>
            <md-content style="background: black;min-height: 100%;">
                <img imagefit imagefit-option="vm.check" imageonload imgloaded="vm.imageLoaded()" ng-src="{{vm.movie.background}}" style="opacity:0.5;">
                <div layout="column" layout-align="space-around center">
                    <img style="border-radius: 10px;filter: drop-shadow(5px 5px 5px #000);margin-top:40px;max-width: 40%;" ng-src="{{ vm.movie.medium_cover_image }}">
                    <div layout="column" flex layout-align="space-between center" style="margin-bottom:20px;margin-top:10px;z-index:1;">
                        <h2 style="color:white;text-align: center">{{ vm.movie.title }}</h2>
                        <div layout="row" layout-align="center center" style="width:100%;z-index:1;">
                            <span style="color:white;">{{ vm.movie.year }}</span>
                            <span style="color:white;margin:0px 10px;">&#8226;</span>
                            <span style="color:white;">{{ vm.movie.runtime }} min</span>
                        </div>
                        <jk-rating-stars max-rating="5" rating="vm.movie.rating" read-only="true" style="z-index:1;margin-top:5px;">
                        </jk-rating-stars>
                        <md-button class="md-raised md-primary" ng-click="vm.goToPlayer(vm.movie)" style="margin-top:15px;">Play</md-button>
                    </div>
                </div>
            </md-content>
        </md-tab>
        <md-tab label="Description" layout="column" flex>
            <md-content style="background: black;min-height: 100%;">
                <img imagefit imagefit-option="vm.check" imageonload imgloaded="vm.imageLoaded()" ng-src="{{vm.movie.large_screenshot_image1}}" style="opacity:0.5;-webkit-filter: blur(3px);filter: blur(3px);">
                <div layout="column" layout-align="space-around center" style="padding:40px;">
                    <div layout="column" layout-align="start center" style="z-index:1;">
                        <h3 style="color:white;">Description</h3>
                        <span style="color:white;text-align: justify;text-justify: inter-word;">{{ vm.movie.description_full }}</span>
                    </div>
                    <div layout="column" layout-align="start center" style="width:100%;z-index:1;">
                        <h3 style="color:white;">Genres</h3>
                        <span style="color:white;text-align: center;">{{ vm.movie.genre }}</span>
                    </div>
                    <div layout="column" layout-align="start center" style="width: 100%;z-index:1;">
                        <h3 style="color:white;">MPA Rating</h3>
                        <span style="color:white;text-align: center;">{{ vm.movie.mpa_rating }}</span>
                    </div>
                </div>
            </md-content>
        </md-tab>
        <md-tab label="Trailer" layout="column" flex>
            <md-content class="videogular-container" flex layout-fill layout="column" layout-align="center center">
                <videogular vg-theme="vm.config.theme">
                    <vg-media vg-src="vm.config.sources">
                    </vg-media>
                    <vg-controls vg-autohide="true" vg-autohide-time="2000">
                        <vg-play-pause-button></vg-play-pause-button>
                        <vg-time-display>{{ currentTime | date:'HH:mm:ss':'+0000' }}</vg-time-display>
                        <vg-scrub-bar>
                            <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                        </vg-scrub-bar>
                        <vg-time-display>{{ timeLeft | date:'HH:mm:ss':'+0000' }}</vg-time-display>
                        <vg-volume>
                            <vg-mute-button></vg-mute-button>
                            <vg-volume-bar></vg-volume-bar>
                        </vg-volume>
                        <vg-fullscreen-button></vg-fullscreen-button>
                    </vg-controls>
                    <vg-overlay-play></vg-overlay-play>
                    <vg-poster vg-url='vm.config.plugins.poster'></vg-poster>
                </videogular>
            </md-content>
        </md-tab>
        <md-tab label="Cast" layout="column" flex>
            <md-content style="background: black;min-height: 100%;">
                <img imagefit imagefit-option="vm.check" imageonload imgloaded="vm.imageLoaded()" ng-src="{{vm.movie.large_screenshot_image3}}" style="opacity:0.5;-webkit-filter: blur(3px);filter: blur(3px);">
                <div layout="column" layout-fill layout-align="space-around center" style="z-index:1;">
                    <md-list style="margin:40px;">
                        <md-list-item class="md-2-line" ng-repeat="actor in vm.movie.cast">
                            <md-card md-colors="::{backgroundColor: 'default-primary-700'}" style="width:100%;">
                                <md-card-title>
                                    <md-card-title-media ng-if="actor.url_small_image !== undefined">
                                        <div class="md-media-sm card-media" layout>
                                            <img ng-src="{{actor.url_small_image}}">
                                        </div>
                                    </md-card-title-media>
                                    <md-card-title-text>
                                        <span class="md-headline">{{actor.name}}</span>
                                        <span class="md-subhead description">{{actor.character_name}}</span>
                                    </md-card-title-text>
                                </md-card-title>
                            </md-card>
                        </md-list-item>
                    </md-list>
                </div>
            </md-content>
        </md-tab>
    </md-tabs>
    <div ng-show="!vm.loaded" layout="row" flex layout-align="center center">
        <md-progress-circular md-diameter="96"></md-progress-circular>
    </div>
</div>
