<div layout="column" layout-align="space-around center" style="background-color: #3F51B5;" layout-fill>
    <div layout="column" layout-align="center center">
        <img src="/app/assets/images/logo.png" height="97" width="97">
        <h2 class="md-display-1" style="color:white;">Popcorn</h2>
        <h3 class="md-subhead" style="color:white;margin: 0;">Watch any movie instantly</h3>
    </div>
    <div layout="column" layout-align="center center">
        <md-button class="md-raised" style="background-color:#3b5998;color:white;width:100%;" ng-click="vm.authenticate('facebook')">
            <span layout="row" layout-align="space-between center">
            <md-icon md-svg-src="/app/assets/images/facebook.svg" style="color:white;margin:0;"></md-icon>
            Sign in with Facebook
            </span>
        </md-button>
        <md-button class="md-raised" style="background-color:#d34836;color:white;width:100%;" ng-click="vm.authenticate('google')">
            <span layout="row" layout-align="space-between center">
            <md-icon md-svg-src="/app/assets/images/google.svg" style="color:white;margin:0;"></md-icon>
            Sign in with Google</span></md-button>
        <md-button class="md-raised" style="background-color:#4099FF;color:white;width:100%;" ng-click="vm.authenticate('twitter')">
            <span layout="row" layout-align="space-between center">
            <md-icon md-svg-src="/app/assets/images/twitter.svg" style="color:white;margin:0;"></md-icon>
            Sign in with Twitter</span></md-button>
        <md-button class="md-raised" style="background-color:#00a1f1;color:white;width:100%;" ng-click="vm.authenticate('microsoftaccount')">
            <span layout="row" layout-align="space-between center">
            <md-icon md-svg-src="/app/assets/images/microsoft.svg" style="color:white;margin:0;"></md-icon>
            Sign in with Windows Live</span></md-button>
    </div>
</div>
