<div layout="column" class="relative" layout-fill role="main" ng-controller="LayoutCtrl as layout" ng-cloak>
    <md-toolbar ng-show="!layout.showSearch">
        <div class="md-toolbar-tools">
            <md-button hide-gt-md aria-label="Menu">
                <ng-md-icon icon="menu"></ng-md-icon>
            </md-button>
            <h3>Popcorn</h3>
            <span flex></span>
            <md-button aria-label="Search" ng-click="layout.showSearch = !layout.showSearch">
                <ng-md-icon icon="search"></ng-md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-toolbar class="md-hue-1" ng-show="layout.showSearch">
        <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
            <md-button ng-click="layout.showSearch = !layout.showSearch" aria-label="Back">
                <ng-md-icon icon="arrow_back"></ng-md-icon>
            </md-button>
            <md-autocomplete ng-disabled="false" md-no-cache="false" md-selected-item="layout.selectedItem" md-search-text-change="layout.searchTextChange(layout.searchText)" md-search-text="layout.searchText" md-selected-item-change="layout.selectedItemChange(item)" md-items="item in layout.querySearch(layout.searchText)" md-item-text="item.title" md-min-length="1" placeholder="Search a movie">
                <md-item-template>
                    <span md-highlight-text="layout.searchText" md-highlight-flags="^i">{{item.title}}</span>
                </md-item-template>
                <md-not-found>
                    No movie found.
                </md-not-found>
            </md-autocomplete>
        </div>
    </md-toolbar>
    <md-subheader>
        <md-nav-bar md-selected-nav-item="layout.tabIndex" nav-bar-aria-label="Navigation">
            <md-nav-item md-nav-sref="home.trending" name="home.trending">Trending</md-nav-item>
            <md-nav-item md-nav-sref="home.popular" name="home.popular">Popular</md-nav-item>
            <md-nav-item md-nav-sref="home.recent" name="home.recent">Recent</md-nav-item>
        </md-nav-bar>
        <md-progress-linear ng-if="layout.loading" md-mode="indeterminate"></md-progress-linear>
    </md-subheader>
    <md-content layout="column" flex md-scroll-y style="background-color:#DCDCDC;">
        <div ui-view layout="column" flex></div>
    </md-content>
</div>
